
#swift, #ubuntu, #firefox, #git {
  --bg1: hsl(54, 45%, 55%);
  --bg2: hsl(14, 40%, 55%);
  --fg1: hsl(25, 90%, 55%, 0.8);
  --fg2: hsl(30, 90%, 55%, 0.8);
}

#history, #greek {
  --bg1: hsl(60, 25%, 40%);
  --bg2: hsl(80, 20%, 30%);
  --fg1: hsl(55, 100%, 40%, 0.6);
  --fg2: hsl(55, 100%, 35%, 0.6);
}

#python, #android {
  --bg1: hsl(120, 25%, 45%);
  --bg2: hsl(180, 20%, 40%);
  --fg1: rgba(0, 235, 0, 0.4);
  --fg2: rgba(0, 205, 0, 0.4);
}

#cpp, #ts {
  --bg1: hsl(200, 35%, 45%);
  --bg2: hsl(230, 40%, 45%);
  --fg1: hsl(220, 100%, 45%, 0.6);
  --fg2: hsl(210, 100%, 40%, 0.6);
}
