:root {
  --bg1: hsl(180, 30%, 40%);
  --bg2: hsl(250, 25%, 35%);
  --fg1: hsl(215, 70%, 45%, 0.7);
  --fg2: hsl(210, 70%, 45%, 0.7);
  font-size: min(1vmin, 5px);
}

.card {
  font-family: arial;
  font-size: 5.2rem;
  text-align: center;
  color: black;
  background-image: linear-gradient(to bottom right, var(--bg1), var(--bg2));
  margin-bottom: 0px;
  overflow: hidden;
}

hr {
  margin: 2px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  color: white;
}

#frontbox {
  background: var(--fg1);
  color: white;
  font-weight: bold;
  margin: 0px 3rem 0px 3rem;
  border-radius: 3rem;
  padding: 2.5rem;
  font-size: 120%;
}

#header {
  background: var(--fg2);
  color: white;
  margin: 0px 6rem 0px 6rem;
  border-radius: 4rem 4rem 0px 0px;
  padding: 3rem;
}

#backbox {
  background: var(--fg2);
  color: white;
  margin: 0px 6rem 0px 6rem;
  border-radius: 0 0 4rem 4rem;
  padding: 3rem;
}

#buttons {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

#main img {
  margin-top: 3rem;
  max-height: 50vh;
  min-width: 70%;
}

a {
  color: white;
  text-decoration: none;
}

button {
  all: unset;
}

button a {
  color: black;
}

button {
  all: unset;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 3rem !important;
  margin: 0px 0.2rem;
}

.mobile button {
  font-size: 12px !important;
}

#browser,
#resize {
  background-color: #9db7ff;
  padding: 0.5rem 1.5rem;
}

#info {
  color: rgba(255, 255, 255, 0.3);
  margin-top: 1vh;
  font-size: 90%;
}

#source {
  color: rgba(255, 255, 255, 0.3);
  font-style: italic;
  font-size: 60%;
  margin-top: 2vh;
}

#header img {
  max-height: 12rem;
  object-fit: contain;
}

#info img {
  max-height: 60vh;
  max-width: 85%;
  margin: 0.5rem;
}

#bgImage {
  box-shadow: 16 35 8px 32px white inset;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  z-index: -1;
  object-fit: cover;
  /* is this needed? */
  pointer-events: none;
}

#all {
	max-width: 100rem;
	margin-left: auto;
	margin-right: auto;
}

.linux:not(.android) #bgImage, .win #bgImage {
  transform: scale(1.1, 1.1);
}
